body {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 80vh;
    min-height: 500px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
}

#calculator {
    border: 2px solid black;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #949d99;
}

.screen {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex: auto;
    margin: 20px;
    max-height: 20%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgb(201, 201, 201);
}

.subscreen {
    font-size: 30px;
    margin-right: 25px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 100px;
    margin: 20px;
}

.btn {
    font-size: 40px ;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #707070;
    color: white;
  }

.delete-btn, .clear-btn {
    background-color: rgb(47, 0, 255);
    color: white;
    grid-column: span 2;
}