.main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 80vh;
    min-height: 500px;
    padding: 10px;
}

#calculator {
    border: 2px solid black;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.screen {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex: auto;
    margin: 20px;
    max-height: 20%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.subscreen {
    border: 1px solid black;
    font-size: 30px;
    margin-right: 25px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 100px;
    margin: 20px;
}

.btn {
    font-size: large;
}
.delete-btn, .clear-btn {
    background-color: orange;
    color: white;
    grid-column: span 2;
}